@import url(header.css);
@import url(boton.css);
@import url(Main.css);
@import url(mapas.css);
@import url(modal.css);
@import url(tabla.css);
@import url(modalEditarDescripcion.css);
@import url(checkout.css);
@import url(Modal_usuarioNoLogueado.css);

:root {
    --hover: rgb(155, 155, 155);
}

.texto {
    fill: #3d3d3d;
}

.salaUno:hover {
    fill: var(--hover);
    cursor: pointer;
}

.salaDos:hover {
    fill: var(--hover);
    cursor: pointer;
}

.salaTres:hover {
    fill: var(--hover);
    cursor: pointer;
}